<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.UserMapper">



    <select id="mySelectPage"
            resultType="com.imooc.entity.User">
        select * from User
        <where>
            <if test="user!=null">
                <if test="user.userPassword!=null">
                    and user_password = #{user.userPassword}
                </if>
                <if test="user.userName!=null">
                    and user_name = #{user.userName}
                </if>
            </if>
        </where>
    </select>
</mapper>
